<h3> Market By Price</h3>
<div class =  "col-md-6">
    <table class = "table table-hover" style = "">
        <thead>
        <tr>
            <th>#</th>
            <th>Buy Volume</th>
            <th>Buy Price</th>
        </tr>
        </thead>
        {{#each order in groupedBuyOrders}}
            <tr>
                <td>{{order.num}}</td>
                <td>{{order.size}}</td>
                <td>{{order.price}}</td>
            </tr>
        {{/each}}
        <tbody>
        </tbody>
    </table>
</div>

<div class =  "col-md-6">
    <table class = "table table-hover" style = "">
        <thead>
        <tr>
            <th>#</th>
            <th>Sell Volume</th>
            <th>Sell Price</th>
        </tr>
        </thead>
        {{#each order in groupedSellOrders}}
            <tr>
                <td>{{order.num}}</td>
                <td>{{order.size}}</td>
                <td>{{order.price}}</td>
            </tr>
        {{/each}}
        <tbody>
        </tbody>
    </table>
</div>